<html>

<head>
    <title></title>
    <link rel="stylesheet" href="CSS/box3.css">
</head>

<body>
    <div class="mdiv">
        <div>
            <div class="r1">Logo</div>
            <div class="r2">Navigation</div>
        </div>
        <div class="r3">Header/Banner</div>
        <div class="r5">intro text area</div>
        <div class="box">
            <div class="c1">Box1</div>
            <div class="c2">Box2</div>
            <div class="c3">Box3</div>
        </div>
        <div class="r4">Footer</div>
    </div>
</body>

</html>