.mdiv {
    background-color: white;
}

.ldiv {
    margin-bottom: 10px;
    background-color: gray;
    text-align: center;
}

.ndiv {
    height: 30px;
    background-color: gray;
    margin-bottom: 10px;
    text-align: center;
}

.hdiv {
    margin-bottom: 10px;
    background-color: gray;
    text-align: center;
}

.sdiv {
    background-color: gray;
    float: left;
    margin-right: 190px;
    padding-top: 50px;
    height: 60px;
    text-align: center;
}

.bdiv {
    height: 60px;
    padding-top: 50px;
    margin-left: 70px;
    background-color: gray;
    text-align: center;
}

.fdiv {
    margin-top: 10px;
    background-color: gray;
    text-align: center;
}